@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    color: #3c3c3c;
    font-weight: 300;
}

header{
    width: 1024px;
    height: 104px;
    margin: auto; /* centrar un CONTENEDOR */
    display: flex;
    justify-content: space-between;
    align-items: center; /* centrar en eje VERTICAL */
}

    header nav a{
        color: #3c3c3c;
        text-decoration: none; /* quitar subrayado */
        font-weight: 400;
        padding: 8px;
    }

/* main */
main{
    width: 1024px;
    min-height: 500px;
    margin: auto; /* centrar un CONTENEDOR */
}
/* hero-banner */
#hero-banner{
    height: 450px;
    background-image: url(../imgs/bg-hero.jpg);
    display: flex;
    align-items: center;
}
    #hero-banner h1{
        font-size: 32px;
        color: #fff;
        margin-left: 180px;
        width: 276px;
    }

/* sección promos */
#promos{
    height: 440px;
    margin-top: 40px;
    padding: 32px;
    background-color: #F6F4EF;

    display: flex;
    justify-content: space-between;
}

    #promos a{
        text-decoration: none;
        color: #3c3c3c;
    }

    #promos article{
        width: 296px;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
    }
    #promos article:hover {
        /* box-shadow: ejeX ejeY Blur color ;*/
        box-shadow: 0px 0px 8px hsl(43, 28%, 70%);;
    }

        #promos a article img{
            border-radius: 8px;
        }

        #promos a article h2{
            font-weight: 400;
            margin-top: 16px;
            margin-bottom: 20px;
        }

/* hero-video */
#hero-video{
    height: 450px;
    position: relative;
}
    #hero-video video{
        width: 1024px;
        height: 450px;
        object-fit: cover;
    }
    #hero-video div{
        position: absolute;
        width: 1024px;
        height: 450px;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        #hero-video div h1{
            color: #fff;
            font-size: 48px;
            font-weight: 300;
        }

/* sección rooms */
#rooms{
    margin-top: 40px;
    padding: 32px;
    background-color: #FAF0E9;
    display: grid;
    row-gap: 32px;
}
    #rooms article{
        display: flex;
        transition: 500ms;
    }
    #rooms article:hover{
        transform: scale(102%);
    }
        #rooms article div{
            padding: 16px 32px;
            background-color: #fff;
        }
        #rooms article div h2{
            font-weight: 400;
        }
        #rooms article div span{
            color: #CB582E;
            font-weight: 400;
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        #rooms article div a{
            text-decoration: none;
            width: 160px;
            background-color: #CB582E;
            display: block;
            margin: 24px auto;
            padding: 8px;
            color: #fff;
            border-radius: 12px;
            text-align: center;
            transition: 500ms;
        }
        #rooms article div a:hover{
            background-color: hsl(16, 63%, 60%);
        }

/* formulario de contacto */
#contacto{
    height: 450px;
    background-color: #EC7D54;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
    #contacto form{
        width: 560px;
    }
        #contacto form input{
            width: 100%;
            background-color: #CB582E;
            margin-bottom: 16px;
            padding: 8px;
            color: #fff;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
            border: none;
            border-radius: 8px;
        }
        #contacto form input::placeholder{
            color: #fff;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
        }

        #contacto form textarea{
            width: 100%;
            height: 142px;
            padding: 8px;
            background-color: #CB582E;
            color: #fff;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
            border: none;
            border-radius: 8px;
            resize: none;
        }
        #contacto form textarea::placeholder{
            color: #fff;
            font-weight: 600;
            font-family: 'Barlow', sans-serif;
        }
        #contacto form button{
            width: 206px;
            margin-top: 24px;
            padding: 8px;
            border: none;
            border-radius: 8px;
            font-family: 'Barlow', sans-serif;
            font-weight: 400;
            cursor: pointer;
            background-color: #fff;
            transition: 500ms;
        }
        #contacto form button:hover{
            background-color: #f2f2f2;
            transform: translateY(-2px);
            box-shadow: 0px 4px 8px rgba(0,0,0,.3);
        }
        #contacto form button:active{
            transform: translateY(2px);
            box-shadow: 0px 4px 8px rgba(0,0,0,0);
        }

/* mapa de google */
#mapa{
    width: 1024px;
    height: 450px;
    margin-top: 40px;
}


/* footer */
footer{
    height: 160px;
    width: 1024px;
    margin: auto;
    margin-top: 40px;
    background-color: #3C3C3C;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
    footer div a{
        margin: 8px;
        text-decoration: none;
    }